.row.show_for_edit
  .col-md-12
    .form-group
      = i.label :short_descr
      = i.text_field :short_descr, class: 'form-control'
      = i.error_messages_for(:short_descr)
.row
  .col-md-12
    .form-actions.bottom20
      = i.submit nil, class: 'btn btn-primary'