=breadcrumb_tag do
  %li.active
    = t('headers.categories.new')
  %li
    = link_to 'Категории', categories_path
  %li
    Главное меню
.page-header
  %h1= t('headers.categories.new')

= render 'form'